<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{fragments :: head}"></div>
	<title>Pizze</title>
</head>

<body>

	<nav th:replace="~{navbar :: navbar('pizze')}">	</nav>
	
	<div class="container-lg">
		<h1 class="d-flex justify-content-center mt-3">Pizze</h1>
		<hr>

		<div th:if="${successMessage != null}">
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<span th:text="${successMessage}"></span>
			</div>
		</div>
		
			
	

	<div class="container row g-3">
		<a class="btn btn-success col-md-2" type="submit" th:href="@{/pizze/create}">
			<i class="fas fa-plus"></i>Aggiungi la tua pizza </a>
	
		<form th:action="@{/pizze}" method="get" class="col-md-10">
			<div class="input-group">
				<input name="keyword" th:value="${keyword}" class="form-control" type="search" placeholder="Search"
					aria-label="Search">

				<button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
			</div>

		</form>


	</div>

	<div class="container" th:if="${!pizze.isEmpty()}">
		<table class="content table table-striped">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Ingredienti</th>
					<th>Foto</th>
					<th>Prezzo</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pizza : ${pizze}">
					<td th:text="${pizza.nome}"></td>
					<td th:text="${pizza.descrizione}"></td>
					<td>
						<img th:src="${pizza.foto}" alt="Foto di [[${pizza.nome}]]"
							style="max-width: 100px; max-height: 100px;">
					</td>
					<td th:text="${pizza.prezzo}"></td>
					<td>
						<a class="btn btn-primary" th:href="@{/pizze/show/{id}(id=${pizza.id})}">
							<i class="fas fa-pizza-slice"></i>
						</a>

					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<div class="container">
		<div class="content alert alert-primary" role="alert" th:if="${pizze.isEmpty()}">Non ci sono pizze in forno!
		</div>
	</div>
	</div>
	<div th:replace="~{fragments :: scripts}"></div>
</body>

</html>